
body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    
    
}

header {
    background-color: #222222;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



nav ul {
    list-style-type: none; 
    margin: 0px;
    padding: 0px;
    display: flex; 
}


nav ul li {
    margin: 0px 15px;
}


nav ul li a {
    text-decoration: none;
    color: #00aaff; 
    font-size: 30px;
}

.btn-session {
    background-color: #0000FF;
    padding: 10px 20px;
    border: 2px solid white;
}

.btn-session a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.Main {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0px;
    margin-top: 300px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    color: #bbbbbb;
}


footer {
    background-color: #1a1a1a;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*Se actualizo el footer con estoe evitamos que las imagenes atraviesen el footer*/
footer p {
    margin: 0px;
    font-size: 14px;
}
/*------------------------------------Login.html------------------------------------------------------*/


#login-container {
    margin-top: 300px; 
    margin-left: 450px;
}

.card-auth {
    background-color: #1a1a1a;
    border: 1px solid #333;
    padding: 25px;
    width: 280px;
}


.btn-primary-blue {
    background-color: #0000FF; 
    color: white;
    width: 100%;
    border: none;
    padding: 12px 0px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.btn-secondary-blue {
    background-color: #0055aa;
    color: white;
    width: 100%;
    border: none;
    padding: 8px 0px;
    cursor: pointer;
    margin-top: 5px;
}


.form-group input {
    width: 90%; 
    background: #000;
    border: 1px solid #444;
    color: #00ff00; 
    padding: 8px;
    margin-bottom: 10px;
}

.divider {
    height: 1px;
    background-color: #333;
    margin: 20px 0px;
}


/*------------------Aquí empiezo a generar el css del html atencion.html buscando que sea responsive */

.seccion-contacto {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a; 
    color: #ffffff; 
    border-radius: 8px;
    max-width: 600px;
    margin: 40px auto; 
}

.seccion-contacto h1 {
    color: #ffffff;
    margin-bottom: 10px;
}

.seccion-contacto p {
    color: #cccccc; 
    margin-bottom: 20px;
}

.formulario-contacto input, 
.formulario-contacto textarea {
    padding: 12px;
    background-color: #2a2a2a; 
    border: 1px solid #444; 
    color: white; 
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
    width: 75%;
}

/*Cabe aclarar que el requisito de una apgína responsive es un requisito del 3 momento por ende solo modifico lo nuevo como responsive*/

.formulario-contacto input::placeholder, 
.formulario-contacto textarea::placeholder {
    color: #888;
}

.formulario-contacto button {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    
}/*Aquí empieza el estilo del archivo tienda.html responsive  yo Yull Sebastian Mesa no uso tailwind ni boostrap porque no me gusto esos frameworks*/

.grid-tienda {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.item-producto {
    aspect-ratio: 1 / 1; 
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
}

.item-producto img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.item-producto:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); 
}